$cc-blue1: #012840;
$cc-blue2: #03588C;
$cc-blue3: #011826;
$cc-yellow: #FFDC6A;
$cc-brown: #BF9775;
$cc-black1: #000000;
$cc-black2: #202020;
$cc-grey1: #757575;
$cc-grey2: #D9D0C1;
$cc-white: #ffffff;
$cc-off-white1: #F9F9F9;
$cc-off-white2: #EBEBEB;
$cc-images: "../images/";
$cc-fonts: "../fonts/";
$alpha: 340px;
$beta: 380px;
$gamma: 480px;
$delta: 620px;
$epsilon: 767px;
$zeta: 991px;
$eta: 1205px;
$theta: 1368px;
$iota: 1420px;
$kappa: 2800px;
$cc-font: 'lato',
Helvetica,
Arial,
sans-serif;
$cc-base-font-size: 62.5%;
$cc-fLight: 300;
$cc-fRegular: 400;
$cc-fBold: 700;
$cc-fBlack: 900;